.navbar {
  margin-bottom: 0;
  background-color: $menuBgColor;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  nav {
    ul {
      overflow: hidden;
      background: $menuBgColor;
      color: $menuFontColor;

      img {
        width: 60px;
        height: 60px;
      }

      &.brand {
        li {
          width: auto;
          float: left;

          &.mobile-bars {
            float: right;
            font-size: 40px;
            color: $menuFontColorActive;
            transition: color .3s;
            padding-top: 18px;

            &:active, &.active {
              background: transparent;
              color: $standardGrey;
            }
          }

          &.logo {
            padding: 5px;
          }
        }
      }

      &.links {
        max-height: 0;
        overflow: hidden;
        transition: max-height .3s;

        &.show {
          max-height: 300px;
        }

        li {
          a:not([role=button]) {
            border: none;

            &.active, &:active, &:hover {
              color: $menuFontColorActive;
              background: transparent;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $tablet) {
  .navbar {
    background-color: $menuBgColorDesktop;
    position: fixed;
    width: 100%;
    transition: background-color .3s;

    nav {
      ul {
        background: $menuBgColorDesktop;

        li a:not([role=button]) {
          transition: color .3s;
          color: #FFF;
        }

        &.brand {
          li {
            &.mobile-bars {
              display: none;
            }
          }
        }

        &.links {
          max-height: none;
        }
      }
    }

    &.scrolled {
      background-color: #FFF;
      z-index: 1;

      ul {
        li a:not([role=button]) {
          color: $menuFontColor;
        }
      }
    }
  }
}