#offer {
  text-align: center;
  background-color: #FFF;
  color: #000;
  padding: 8rem 0;

  .row {
    h2, div, a {
      margin: 10px auto 10px auto;
    }

    a {
      @include button($leadingColor, $leadingColorDark, #FFF)
    }
  }

  i {
    color: $leadingColor;
  }
}

.swiper-container {
  width: 100%;
  height: 500px;

  .swiper-slide {
    background-position: center center;
    background-size: cover;
    position: relative;
    
    div {
      background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
      color: #FFF;
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 50px 0 10px 0;
    }

    &.production {
      background-image: url(../../img/production.jpg);
    }

    &.magazine {
      background-image: url(../../img/magazine.jpg);
    }

    &.builder {
      background-image: url(../../img/build.jpg);
    }

    &.communium {
      background-image: url(../../img/forest.jpg);
    }

    &.villam {
      background-image: url(../../img/forest.jpg);
    }

    &.welder {
      background-image: url(../../img/forest.jpg);
    }
  }
}