/* BREAKPOINTS */
$phone: 360px;
$phablet: 480px;
$tablet: 768px;
$tablet-landscape: 1024px;
$large-monitor: 1200px;
$xl-monitor: 1400px;
$xxl-monitor: 1600px;

/* COLORS */
$leadingColor: #FA000F;
$leadingColorDark: #960009;
$menuBgColor: #FFF;
$menuFontColor: rgba(0,0,0,.5);
$menuFontColorActive: $leadingColor;
$menuBgColorDesktop: transparent;