/* BREAKPOINTS */
$phone: 360px;
$phablet: 480px;
$tablet: 768px;
$tablet-landscape: 1024px;
$large-monitor: 1200px;
$xl-monitor: 1400px;
$xxl-monitor: 1600px;

/* COLORS */
$leadingColorDark: #FA000F;
$leadingColor: #960009;
$standardGrey: #888;
$menuBgColor: #FFF;
$menuFontColor: $standardGrey;
$menuFontColorActive: $leadingColor;
$menuBgColorDesktop: transparent;

/* MIXINS */
@mixin button($bgColor, $hoverColor, $fontColor) {
  background-color: $bgColor;
  color: $fontColor;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.2s;

  &:hover {
    background-color: $hoverColor;
  }
}

@mixin verticalCenter() {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}